<!DOCTYPE html>
<html>
  <head>
    <title>PersonForm</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'person' %>

    <!-- My CSS file -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
